{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</title>
<style>
    body {
            background-image: url("{% static 'img/pic2.jpeg'%}");
            background-size: cover;
        }
    input[type='text'],[type='password']{
        margin-top: 20px;
        margin-bottom: 20px;
        border-radius: 10px;
        box-shadow: 10px 10px;
        
    }
       
</style>
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark " style="background-color: black;">
        <div class="container-fluid">
            <a class="navbar-brand text-white" href="#" style="width: 40%;">
                <h1><img src="{% static 'img/lg1.gif' %}" alt="" style="max-width: 6em; max-height: 3.2em;"></h1>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="mynavbar">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link  mx-5 ps-5 text-white" href="{% url 'homepage' %}" ><B>HOME</B></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mx-5 ps-5 text-white" href="{% url 'homepage' %}">ABOUT</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mx-5 ps-5 text-white" href="{% url 'regpage' %}">SIGNUP</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mx-5 ps-5 " href="{% url 'log' %}" style="color: rgb(117, 202, 231);">SIGNIN</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
   
    <form action="{% url 'loginpage' %}"  method="post" style="width: 40vw; margin: auto;  padding: 20px; background-color: rgb(128, 128, 128,0.8); margin-top: 60px; border-radius: 10px; box-shadow: 10px 10px; margin-bottom: 30px;" >
        {% csrf_token %}
        <div class="form-group">
            <h1 class="text-center" style="color: white;text-shadow: 2px 2px 4px #000000; margin-bottom: 40px;">LOGIN</h1>
            
            <input type="text" id="u" name="ui" class="form-control" placeholder="enter User ID ">
            <input type="password"id="p" name="pa" class="form-control" placeholder="enter password">
           
            
            <input type="submit" id="s" value="LOGIN" class="btn-dark" style="margin-top: 10px; margin-left: 65px; width: 70%; padding: 10px; border-radius: 10px;"><br>
            <a href="{% url 'regpage' %}" style="color: white; text-shadow: 2px 2px 4px #000000;">don't have an account?sign up</a><br>
            <a href="{% url 'homepage' %}" style="color: white; text-shadow: 2px 2px 4px #000000;">Home</a>
        </div>
    </form>
    
   
</body>
</html>